{
  "husky": {
    "hooks": {
      "commit-msg": "commitlint -E HUSKY_GIT_PARAMS",
      "pre-commit": "npm run linter && npm run flow",
      "pre-push": "npm run linter && npm run flow"
    }
  }
}
